/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------*/
body{
    background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    font-family: "Microsoft JhengHei";
}

button{
    border: 0;
    height: 30px;
    border-radius: 10px;
    border:1px solid #2e4646;
    font-size: 20px;
    background-color: #e3e5c6;
    color: #2e4646;
    font-family: "Microsoft JhengHei";
}

.addBtn{
    background-color: #e3e5c6;
}

.addBtn:hover{
    background-color: #388f5f;
    color: white;
}

.deleteAllBtn:hover{
   background-color: rgba(248, 45, 45,1);
    color: white;
}

.recoverBtn:hover{
    background-color: rgb(221, 107, 31);
    color: white;
}

.item{
    margin: auto;
    max-width: 450px;
}

.item h1{
    margin: 20px 0;
    color: white;
    text-align: center;
    font-size: 30px;
}

.inputText{
    background-color: rgba(31, 34, 33, 0.253);
    padding: 4px 4px;
    margin: 0 8px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Microsoft JhengHei";
    color: white;
}
  
.todoList {
    margin: 20px 0;
    padding: 10px;   
    background-color: #5f5348a9;
    border-radius: 10px;
}

.todoList li{
    position: relative;
    margin: 4px 0;
    padding:8px;
    width: 95%;
    font-size: 20px;
    background-color: #c8be9f;
    border-radius: 10px;
}

.todoList li input{
    background-color: #e3e5c6;
    padding: 4px 4px;
    width: 300px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Microsoft JhengHei";
    color: #2e4646;
    
}

.todoList li .deleteBtn{ 
    position: absolute;
    right: 10px;
}

.todoList li .deleteBtn:hover{
    background-color: black;
    color: white;
}